 .codemirror {
   height: 100%;
   overflow: auto;

 }

 .codemirror::-webkit-scrollbar {
   width: 5px;
 }

 .codemirror::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 10px;
 }

 .codemirror::-webkit-scrollbar-thumb {
   background: rgb(119, 118, 118);
   border-radius: 10px;
 }

 .codemirror::-webkit-scrollbar-thumb:hover {
   background: rgb(100, 100, 100);
   border-radius: 10px;
 }

 .codemirror::-webkit-scrollbar-thumb:active {
   background: rgb(68, 68, 68);
   border-radius: 10px;
 }

 .dark {

   .cm-editor {

     background-color: #181818;

     .cm-activeLine.cm-line {
       background-color: #4a4a4b;
     }

     .cm-gutters {
       background-color: #181818;
       color: #818080;
     }
   }
 }

 .dark .codemirror {
   background-color: #181818;

 }