.output-pane {
  height: 60%;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 10px;

  .output-container {
    height: calc(100% - var(--header-height));
    overflow-y: auto;
  }

  .tab-buttons {
    box-sizing: border-box;
    background-color: var(--bg);
    height: var(--header-height);
    overflow: hidden;

    span {
      font-size: 13px;
      font-family: var(--font-code);
      text-transform: uppercase;
      color: var(--text-light);
      display: inline-block;
      padding: 8px 16px 6px;
      line-height: 20px;
    }

    button {
      padding: 0;
      box-sizing: border-box;

      &.active {
        color: var(--color-branding-dark);
        border-bottom: 3px solid var(--color-branding-dark);
      }
    }
  }
}


.console-pane {
  height: 39%;
  border: 1px solid var(--border);
}

.dark .output-pane {
  background-color: black;
}